// {
//     "presets": [
//         [
//             "env",
//             {
//                 "modules": false,
//                 "loose": true
//             }
//         ],
//         "stage-0",
//         "stage-2",
//         "es2015"
//     ],
//     "plugins": [
//         "transform-runtime",
//         "transform-async-to-generator"
//       ]
// }

{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "esmodules": true
          }
        }
      ]
    ],
    // "plugins": [
    //   [
    //     "@babel/plugin-transform-runtime",
    //     {
    //       "corejs": false,
    //       "helpers": true,
    //       "regenerator": true,
    //       "useESModules": false
    //     }
    //   ]
     
    // ]
  }